@using DDWBlogger.Project.Source.Models;
@{
    ViewBag.Title = "Articles Search for " + ViewBag.SearchKey.ToString();
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    string s = ViewBag.SearchKey.ToString();

    List<Article> ArticlesSearch = new List<Article>();
    using (var context = new DDWBlogger.Project.Source.App_Data.DBContext())
    {
        ArticlesSearch = context.Article.Include("SubCategory").Include("Administrator").Where(m => m.Title.Contains(s) || m.Description.Contains(s)).ToList();
    }
}

<div class="wrapper clearfix">
    <div class="left-col">
        <div class="breadcrumb clearfix">
            <span>You are here: </span>
            <a href="/">Home</a>&nbsp;&raquo;&nbsp;<a href="#">Search</a>&nbsp;&raquo;&nbsp;
            <a href="#" class="current-page">Search Keyword : @ViewBag.SearchKey.ToString()</a>
        </div><!--end:breadcrumb-->
        <ul class="article-list">
            @if (ArticlesSearch.Count > 0)
            {
                foreach (var item in ArticlesSearch)
                {
                    <li>
                        <article class="entry-item clearfix">
                            <div class="video-thumb">
                                <img class="responsive-img" src="../../@item.FeaturedBanner" alt="" height="220" width="138" />
                            </div><!--video-thumb-->
                            <div class="entry-content">
                                <span class="entry-meta">in:&nbsp;</span><a class="meta-data" href="#">@item.SubCategory.Title</a>
                                <span class="entry-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span><span class="meta-data">@item.DateCreated</span>
                                <span class="entry-meta">&nbsp;&nbsp;|&nbsp;&nbsp;by:&nbsp;</span><a class="meta-data" href="/home/author?id=@item.AdministratorId">@item.Administrator.FirstName @item.Administrator.FirstName</a>
                                <h3 class="entry-title"><a href="/home/articledetail?id=@item.ArticleId">@item.Title</a></h3>
                                @if (item.Description.Length > 100)
                                {
                                    <p>@Html.Raw(item.Description.Substring(0, 100))</p>
                                }
                                else
                                {
                                    <p>@Html.Raw(item.Description)</p>
                                }
                                <a class="more-link" href="/home/articledetail?id=@item.ArticleId">Read more &raquo;</a>
                            </div><!--end:entry-content-->
                        </article><!--end:entry-item-->
                    </li>
                }
            }
        </ul>
    </div><!--end:left-col-->
</div><!--wrapper-->
