@using DDWBlogger.Project.Source.Models;
@{
    int id = Convert.ToInt32(ViewBag.SubCategoryId);
    SubCategory subCategory = new SubCategory();
    string subCategoryTitle = string.Empty;
    using (var context = new DDWBlogger.Project.Source.App_Data.DBContext())
    {
        subCategory = context.SubCategory.Include("Article").Include("Administrator").Where(m => m.SubCategoryId == id).FirstOrDefault();
        subCategoryTitle = subCategory.Title;
    }

    ViewBag.Title = "Article by Category : " + subCategoryTitle;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="wrapper clearfix">
    <div class="left-col">
        <div class="breadcrumb clearfix">
            <span>You are here: </span>
            <a href="/">Home</a>&nbsp;&raquo;&nbsp;<a href="#">Sub Category</a>&nbsp;&raquo;&nbsp;<a href="#" class="current-page">@subCategoryTitle</a>
        </div><!--end:breadcrumb-->
        <ul class="article-list">
            @if (subCategory.Article.Count > 0)
            {
                foreach (var item in subCategory.Article)
                {
                    <li>
                        <article class="entry-item clearfix">
                            <div class="video-thumb">
                                <img class="responsive-img" src="../../@item.FeaturedBanner" alt="" height="220" width="138" />
                            </div><!--video-thumb-->
                            <div class="entry-content">
                                <span class="entry-meta">in:&nbsp;</span><a class="meta-data" href="#">@item.SubCategory.Title</a>
                                <span class="entry-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span><span class="meta-data">@item.DateCreated</span>
                                <span class="entry-meta">&nbsp;&nbsp;|&nbsp;&nbsp;by:&nbsp;</span><a class="meta-data" href="#">@item.Administrator.FirstName @item.Administrator.FirstName</a>
                                <h3 class="entry-title"><a href="/home/articledetail?id=@item.ArticleId">@item.Title</a></h3>
                                <p>
                                    @if (item.Description.Length > 100)
                                    {
                                    <p>@Html.Raw(item.Description.Substring(0, 100))</p>
                                }
                                else
                                {
                                    <p>@Html.Raw(item.Description)</p>
                                }
                                    </p>
                                    <a class="more-link" href="#">Read more &raquo;</a>
                                </div><!--end:entry-content-->
                            </article><!--end:entry-item-->
                        </li>
                    }
                }
        </ul>
    </div><!--end:left-col-->
</div><!--wrapper-->
