@model List<DDWBlogger.Project.Source.Models.Slider>

<section class="slider-wrapper">
    <h2 class="widget-title">Breaking News</h2>
    @if (Model!=null && Model.Count > 0)
    {
        <div id="slider" class="nivoSlider">
            @{
                int a = 1;
                foreach (var item in Model)
                {
                    <a href="/home/articledetail?id=@item.Article.ArticleId" class="slide-img"><img src="../../@item.Banner" alt="" title="#slide-caption-@a" /></a>
                    a = a + 1;
                }
            }
        </div>
                int b = 1;
                foreach (var item in Model)
                {
                    <div id="slide-caption-@b" class="nivo-html-caption">
                        <span class="entry-meta">in:&nbsp;</span><a class="meta-data" href="/home/articlesbysubcategory?id=@item.Article.SubCategoryId">@item.Article.SubCategory.Title</a>
                        <span class="entry-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span><span class="meta-data">@item.Article.DateCreated.ToString("D")</span>
                        <span class="entry-meta">&nbsp;&nbsp;|&nbsp;&nbsp;by:&nbsp;</span><a class="meta-data" href="/home/author?id=@item.AdministratorId">@item.Article.Administrator.FirstName &nbsp; @item.Article.Administrator.FirstName</a>
                        <h1 class="slide-title"><a href="/home/articledetail?id=@item.Article.ArticleId">@item.Article.Title</a></h1>
                    </div>
                        b = b + 1;
                    }
                }
</section>

